.container{
    /* background-color: aqua; */
    border: 6px solid black;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    justify-content: left;
    align-content: left;
    /* grid-template-areas: "header header"
                         "main aside"
                         "footer footer"; */
    /* grid-auto-rows: 100px;
    grid-auto-flow: 100px 1fr;
    grid-gap: 10px; */
}

 .items{
    background-color: rgb(24, 24, 23);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: large;
}

/* .items:nth-child(1) {
    grid-area: header;
}

.items:nth-child(2) {
    grid-area: main;
}

.items:nth-child(2) {
    grid-area: aside;
}

.items:nth-child(3) {
    grid-area: footer;
}  */


/* .container .items:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.container .items:nth-child(2) {
    grid-row: 1 / 4;
    grid-column: 3 / 7;
    /* grib-area: 1 /3 / 3 / 5; */
/* }

.container .items:nth-child(3) {
    grid-row: 3 / 1;
    grid-column: 7 / 7;
} */

