/* img{
    -webkit-box-reflect: below 30px;
} */

/* img{
    height: 300px;
    width: 200px;
    object-fit: cover;
} */

/* img{
    height: 300px;
    width: 200px;
    object-position:  20px 110px;
} */