/* .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.pagination1 {
    background-color: #4CAF50;
    color: white;
  }

  .pagination a:hover:not(.pagination1) {
    background-color: #3d3535;
   
  } */
/* 
  .pagination a{
    border-radius: 5px;
  } */
/* 
  .pagination a{
    transition:  3s;
  }

  .pagination a{
    border: 1px solid #131212; /* Gray */
  /* } */

  /* .pagination a:first-child{
    border-radius: 5px;
  }

  .pagination a:last-child{
    border-radius: 5px;
  }

  .pagination a{
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  /* } */

  /* .lol {
    text-align: center;
  }   */

  /* .collam p {
    column-count: 3;
    column-rule-style: solid;
    column-rule-color: blue;
    column-rule-width: 1px;
    text-align: center;
    font-size: 20px;
  } */
